@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,500,0,0&display=swap');

html, body {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* leading-trim: both;
  text-edge: cap; */
}

#auth {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  backdrop-filter: blur(10px);
}

#auth .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #111111ee;
}

#auth * {
  color: #111111;
}

#auth .inner {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 400px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 30px 0px #00000055;
}

#auth .inner form {
  display: flex;
  flex-direction: column;
}

#auth h3 {
  margin-bottom: 24px;
}

#auth .inner > * {
  width: 100%;
}

#auth label {
  margin-bottom: 8px;
}

#auth input, select {
  padding: 8px 6px 9px 6px;
  background-color: #ffffff;
  border: 2px solid #cccccc; 
  border-radius: 4px;
}

#auth input {
  margin-bottom: 20px;
}

#auth input, #auth select, #auth option {
  font-family: sans-serif;
  text-transform: none;
}

#auth button {
  min-height: 40px;
  margin-top: 18px;
  color: #ffffff;
}

.banner {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  /* max-width: 95vw; */
  left: calc((100vw - 70vw)/2);
  bottom: 2vh;
  padding: 1% 1.5%;
  background-color: #f1f1f1;
  border-radius: 10px;
  border: 1px solid #9e9e9e;
  transition: transform .15s ease-out;
}

.banner:hover {
  transform: scale(1.02);
}

.banner .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.banner span.icon {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.banner .info p {
  color: #222222;
  margin-left: 2%;
}

.banner button#denie_cookies {
  margin-right: 10px;
}

.banner_close_button:hover {
  cursor: pointer;
}

.progress-ring_circle {
  stroke-dasharray: 62.8;
  stroke-dashoffset: 62.8;
  animation: dash;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #222222;
  min-width: 32px;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 62.8;
  }
}

[fb-data*="team_a.color"] {
  background-color: var(--A_Color) !important;
}

[fb-data*="team_b.color"] {
  background-color: var(--B_Color) !important;
}

.color-indicator.light {
  border: 1px solid #bbbbbb;
  box-sizing: content-box;
  margin-left: -1px;
  width: 5px;
}

.indicators {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-right: 20px;
}

.indicators .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
}

.serve_indicator {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent; /* Farbe des Dreiecks */
}

.serve_indicator.active {
  border-right: 10px solid var(--primary) !important;
}

.score_history {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px 20px 0px 20px;
  width: fit-content;
}

.score_history .table_view {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  border-radius: 6px;
  overflow: hidden;
  padding: 8px 12px;
  background-color: var(--white);
  filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.12));
}

.score_history * {
  font-family: 'Antonio';
}

.score_history .scores  {
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 6px;
}

.score_history .scores .team_rows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0px;
}

.score_history .scores .team_rows .team {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0px;
}

.score_history .scores .team_rows .score_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 32px;
  /* padding: 1rem; */
  border-radius: 0px;
  background-color: var(--white);
  border: 2px solid var(--light-3);
  color: var(--text-secondary);
  box-sizing: border-box;
  
  font-weight: 300;
}

.score_history .scores .team_rows .score_item:not(:first-child) {
  margin-left: -2px;
}

.score_history .scores .team_rows .score_item.active {
  border: 2px solid var(--A_Color);
  border: 2px solid var(--primary);
  color: var(--text-primary);
  z-index: 10;
  font-weight: 400;
}

/* .score_history .scores .team:last-child .score_item.active {
  border: 2px solid var(--B_Color);
  border: 2px solid var(--primary);
  color: var(--text-primary);
  z-index: 10;
  font-weight: 400;
} */

.score_history .scores .team:first-child .score_item:first-child {
  border-radius: 6px 0px 0px 0px;
}

.score_history .scores .team:first-child .score_item:last-child {
  border-radius: 0px 6px 0px 0px;
}

.score_history .scores .team:last-child .score_item:first-child {
  border-radius: 0px 0px 0px 6px;
}

.score_history .scores .team:last-child .score_item:last-child {
  border-radius: 0px 0px 6px 0px;
}

.score_history .teams_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0px;
  margin-right: 16px;
  min-width: min-content;
  max-width: 350px;
}

.score_history .teams_info .team {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1px;
  max-width: 100%;
  gap: 6px;
}

.score_history .teams_info .team:last-child {
  padding-bottom: 5px;
}

.score_history .teams_info .team .color-indicator {
  width: 4px;
  height: 77%;
  display: block;
  border-radius: 2px;
  margin-top: 5px;
  background-color: var(--text-primary);
  border: 0px;
  box-sizing: border-box;
  margin-left: 0;
}

.score_history .teams_info .team p {
  font-size: 20px;
  font-weight: 600;
  max-width: 100%;
}

.score_history .teams_info .team .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0px;
  padding: 3px 0;
}

.score_history .teams_info .team .name .players {
  font-size: 18px;
  font-weight: 300;
  max-width: 100%;
  /* font-family: 'Barlow', sans-serif; */
}

.score_history .chartContainer {
  border-radius: 6px;
  overflow: hidden;
  padding: 8px 12px;
  background-color: var(--white);
  filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.12));
}

.chartContainer {
  width: 100%;
  height: 200px;  
  position: relative; 
  /* border: 2px solid var(--primary); */
}

#scoreChart {
  width: 100% !important;
  height: 100% !important;
}