@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');


* {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --team_a: #8628E4;
  --team_b: #C8FDCA;
  --background: #000000;
  --text-primary: #ffffff;
  --text-dark: #000000;
}

html, body {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
}

.hidden {
  opacity: 0;
  max-height: 0px;
  max-width: 0px;
  overflow: hidden;
}

.wrapper {
  padding: 45px;
  padding-bottom: 55px;
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
}

.top {
  width: 100%;
  background-color: #2B2B2B;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 0px;
}

.top .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top .text {
  font-size: 5.5vh;
}

.top .divider {
  display: block;
  height: 58%;
  width: 4px;
  background-color: #ffffff33;
  margin: 7px 25px 0 25px;
}

.bottom {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.team {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.team_a .name, .team_a .score .active_card {
  background-color: var(--team_a);
}

.team_a .teamname, .team_a .active_card p {
  color: var(--text-primary);
}

.team_a .sets_card {
  border: 10px solid var(--team_a);
}

.team_b .name, .team_b .active_card {
  background-color: var(--team_b);
}

.team_b .teamname, .team_b .active_card p {
  color: var(--text-dark);
}


.team_b .sets_card {
  border: 10px solid var(--team_b);
}

.team .name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
}

.team .name p {
  font-size: 6.3vh;
}

.team .score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  gap: 24px;
}

.team .score .active_card {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 39.7vh;
  padding-bottom: 25px;
}

.team .score .sets_card {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 19.8vh;
  padding-bottom: 15px;
}

