@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

:root {
  --primary: #597EE0;
  --secondary: #F80000;
  --white: #ffffff;
  --text-primary: #000000;
  --light-red: #FF9798;
  --secondary-1: #D0C2D8;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  opacity: 0.98;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 20px 0px 20px;
  filter: drop-shadow(1px 3px 20px rgba(0, 0, 0, 0.15));
}

.top, .bottom {
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.top .content, .bottom .content {
  padding: 4px 16px 8px 16px;
  max-height: 100%;
  display: flex;
  max-width: 288px;
  overflow: hidden;
}

.top .content .text, .bottom .content .text {
  height: 100%;
}

.top .content {
  background-color: var(--primary);
  border-radius: 4px 4px 0px 0px ;
  box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.4);
}

.bottom .content {
  background-color: var(--light-red);
  border-radius: 0px 0px 4px 4px;
  flex-direction: row;
  gap: 8px;
  margin-top: 2px;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.teamname, .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top .content p {
  font-size: 18px;
  color: var(--text-primary);
}

.bottom .content p {
  font-size: 18px;
  color: var(--text-primary);
}

.divider {
  height: 17px;
  width: 2px;
  background: #00000033;
  margin-top: 5px;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 8px 10px 8px 16px;
  background-color: var(--white);
  border-radius: 0px 4px 4px 0px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.center * {
  font-family: 'Oswald';
  /* text-transform: uppercase; */
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 8px;
  margin-right: 28px;  opacity: .8;
  min-width: 260px;
  max-width: 350px;
}

.teams .team {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1px;
  max-width: 100%;
  gap: 9px;
}

.teams .team:last-child {
  padding-bottom: 5px;
}

.teams .team .color-indicator {
  width: 6px;
  height: 77%;
  border-radius: 2px;
  margin-top: 5px;
  background-color: var(--text-primary);
  border: 0px;
  box-sizing: border-box;
  margin-left: 0;
}

.teams .team .color-indicator.light {
  border: 1px solid #bbbbbb;
  box-sizing: content-box;
  margin-left: -1px;
  width: 5px;
}

.teams .team .teamname {
  font-size: 30px;
  font-weight: 400;
  max-width: 100%;
}

.teams .team .players {
  font-size: 18px;
  font-weight: 400;
  opacity: .8;
  /* margin-top: 9px;
  margin-left: 10px */
}

.counter {
  font-size: 30px;
  font-weight: 600;
  height: 47px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding-bottom: 4px;
  flex-grow: 1;
}

.counter:not(.group) {
  width: 48px;
  background-color: var(--light-red);
}

.counter.group {
  width: 36px;
  background-color: var(--secondary-1);
}

.active .counter {
  border: 2px solid var(--secondary);
}

.scores {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.score.winner {
  font-weight: 700;
}

.score.loser {
  font-weight: 300;
}

.group_score {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.group_score .group-indicator {
  position: absolute;
  margin-top: -42px;
  padding: 8px 9px 6px 9px;
  background-color: var(--secondary);
  border-radius: 0px;
}

.team_score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.team_score .set {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 8px;
  height: 100%;
}

.button {
  font-size: 30px;
  font-weight: 600;
  height: 47px;
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding-bottom: 4px;
  color: var(--white);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.controls .team_container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.button.add {
  background-color: #04b904;
}

.button.remove {
  background-color: var(--secondary);
  transition: .1s ease;
}

.button:hover {
  opacity: .8;
}

.button:active {
  opacity: .6;
  transform: scale(.95);
}

