html, body {
  background-color: #2B2E38;
}

.board {
  filter: drop-shadow(1px 3px 12px rgba(0, 0, 0, 0.50));
}

.wrapper {
  margin: 15px 15px 0px 15px;
}

.top {
  gap: 4px;
}

.set_counter_container {
  background: var(--light-3);
  padding: 2px 2px 1px 6px;
  border-radius: 4px;
  margin-bottom: 1px;
  width: 135px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

input:focus {
  outline: none;
  -moz-outline: none;
  box-shadow: inset 0px 0px 0px 1px #000000aa;
}

input:not([type='color']) {
  min-width: 0;
  background-color: #00000011;
  border-radius: 4px;
  padding: 0px 0px 3px 7px;
  border: none;
  /* box-shadow: inset 0px 0px 0px 1px #00000011; */
}

.top .content input {
  background-color: #ffffff77;
  width: 100%;
}

.top .set_controls_container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.top .set_controls_container .button {
  height: 26px !important;
  font-size: 20px !important;
  padding: 0px !important;
}

.bottom input {
  background-color: #ffffffcc;
}

.bottom button {
  margin-top: 6px;
  height: 28px;
}

input[type='number'] {
  padding-left: 3px;
  height: 100%;
}

.top input, .bottom input {
  font-size: 17px;
}

.center {
  margin-bottom: -2px;
}

.center input {
  font-size: 30px;
  font-weight: 700;
}

.top, .bottom {
  gap: 6px;
}

.top .content, .bottom .content {
  padding: 4px 5px 4px 5px;
  max-height: 100%;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.center .inner {
  padding: 6px 8px 6px 8px;
  margin-bottom: -2px;
}

.center .counter {
  padding-bottom: 0px;
  padding: 1px;
}

.bottom .content {
    gap: 4px;
}

.teams {
  gap: 6px;
}

.teams .team {
  gap: 6px;
}

.teams .team:last-child {
  padding-bottom: 0;
}

.teams .team input {
  width: 100%;
}

.teams .team input.color-indicator {
  min-width: 0;
  border: none;
  width: 24px;
  height: 100%;
  margin-top: 0;
  padding: 1px 2px;
  background: #00000013;
  border-radius: 3px;
}

.settings-container {
  width: 175px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 8px;
  padding: 14px 16px 16px 16px;
  background-color: var(--white);
  filter: drop-shadow(1px 3px 20px rgba(0, 0, 0, 0.08));
}

.settings-container h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.settings *:not(:last-child) {
  margin-bottom: 4px;
}

.settings * {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.settings * span {
  margin-top: 2px;
}

.settings #reset_scores {
  margin-top: 5px;
}

button {
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px 12px 7px 12px;
  transition: .2s ease;
  background-color: var(--red);
  color: var(--white);
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

button:active {
  transform: scale(0.95);
}

.button {
  font-size: 30px;
  font-weight: 600;
  height: 47px;
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding-bottom: 4px;
  color: var(--white);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 14px
}

.controls .team_container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.button.add {
  background-color: #04b904;
}

.button.remove {
  background-color: var(--red);
  transition: .1s ease;
}

.button.neutral {
  background-color: #6e6e6e;
}

.button:hover {
  opacity: .8;
}

.button:active {
  opacity: .6;
  transform: scale(.95);
}