:root {
  --primary: #F2C650;
  --secondary: #C55151;
  --white: #ffffff;
  --text-primary: #000000;
  --light-2: #f8f8f8;
  --light-3: #f2f2f2;
  --secondary-1: rgba(197, 81, 81, 0.2);
  --ui-success: #04b904;
  --ui-error: #e14c62;
}

html, body {
  background-color: #2B2E38;
}

.board {
  margin: 15px 15px 0px 15px;
}

.top {
  gap: 4px;
}

.set_counter_container {
  background: #ffffffaa;
  box-shadow: inset 0 0 0 2px var(--primary);
  padding: 2px 2px 1px 6px;
  border-radius: 4px;
  margin-bottom: 1px;
  width: 135px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: var(--text-primary);
}

input:focus {
  outline: none;
  -moz-outline: none;
  box-shadow: inset 0px 0px 0px 2px var(--primary);
  background-color: var(--white) !important;
}

input:not([type='color']) {
  min-width: 0;
  background-color: #00000011;
  border-radius: 4px;
  padding: 0px 0px 3px 7px;
  border: none;
}

.top input {
  width: 100%;
}

.top .set_controls_container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.top .set_controls_container .button {
  height: 26px !important;
  font-size: 20px !important;
  padding: 0px !important;
}

.top .content {
  background-color: var(--text-primary);
}

.bottom .content {
  background-color: var(--text-primary);
}

.top input,
.bottom input {
  background-color: #ffffffaa;
}

.bottom button {
  margin-top: 6px;
  height: 28px;
}

input[type='number'] {
  padding-left: 3px;
  height: 100%;
}

.top input, .bottom input {
  font-size: 17px;
}

.center {
  margin-bottom: -2px;
}

.center input {
  font-size: 30px;
  font-weight: 700;
}

.center input.score {
  font-weight: 300;
}

.center input.score.winner {
  font-weight: 600;
}

.center input.score.loser {
  font-weight: 300;
}

.top, .bottom {
  gap: 6px;
}

.top .content, .bottom .content {
  padding: 4px 5px 4px 5px;
  max-height: 100%;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.center .inner {
  padding: 6px 8px 6px 8px;
  margin-bottom: -2px;
}

.center .counter {
  padding-bottom: 0px;
  padding: 1px;
}

.active .counter {
  border: 2.5px solid var(--primary);
}

.counter.group {
  background-color: var(--primary);
}

.bottom .content {
    gap: 4px;
}

.teams {
  gap: 6px;
}

.teams .team {
  gap: 6px;
}

.teams .team:last-child {
  padding-bottom: 0;
}

.teams .team input {
  width: 100%;
}

.teams .team input.color-indicator {
  min-width: 0;
  border: none;
  width: 24px;
  height: 100%;
  margin-top: 0;
  padding: 1px 2px;
  background: #00000013;
  border-radius: 3px;
}

.controls {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
}

.controls .container {
  width: max-content;
  margin-top: 15px;
  border-radius: 8px;
  padding: 14px 16px 16px 16px;
  background-color: var(--white);
  filter: drop-shadow(1px 3px 20px rgba(0, 0, 0, 0.08));
}

.controls h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.controls .inner > *:not(:last-child) {
  margin-bottom: 8px;
}

.controls .inner > *:last-child {
  margin-top: 1rem;
}

.controls .settings .inner > * {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.controls .settings .inner > * span {
  margin-bottom: 1px;
}

.controls .settings .inner #reset_scores {
  margin-top: 5px;
}

.controls .output {
  max-width: 240px;
}

.controls .output .inner {
  margin-top: .6rem;
}

.controls .output_entry {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.controls .output_entry.url {
  margin-top: 1.7rem;
}

.controls .output select {
  height: 30px;
  padding: 0 6px;
}

.controls .output .url_output_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  max-width: min-content;
}

.controls .output .url_output_container a {
  width: 100%;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  background-color: #eeeeee;
  padding: 4px 8px 6px 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: .95rem;
  color: #000000aa;
}

button {
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px 12px 7px 12px;
  transition: .2s ease;
  background-color: var(--primary);
  color: var(--text-primary);
}

button.destructive {
  background-color: var(--ui-error);
  color: var(--white);
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

button:active {
  transform: scale(0.95);
}


.button {
  font-size: 30px;
  font-weight: 600;
  height: 47px;
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding-bottom: 4px;
  color: var(--white);
}

.center .controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 14px
}

.center .controls .team_container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-grow: 1;
}

.button.add {
  background-color: var(--ui-success);
  height: 100%;
}

.button.remove {
  background-color: var(--ui-error);
  height: 100%;
}

.button.neutral {
  background-color: #6e6e6e;
}

.button:hover {
  opacity: .8;
}

.button:active {
  opacity: .6;
  transform: scale(.95);
}

.controls .led {
  max-width: 400px;
}

.slider-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  max-width: 150px
}

input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  width: 200px;
  height: 5px;
  background: linear-gradient(to right, var(--text-primary), var(--primary));
  border-radius: 4px;
  outline: none;
  margin-right: 10px;
}

input[type="range"]:focus {
  outline: none;
  box-shadow: 0 0 0px #ffc10700;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #ffc107;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.segment-display {
  display: flex;
  align-items: flex-start;
  gap : 20px;
  width: fit-content;
  height: fit-content;
}

.digit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.digit-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5px;
  width: 100%;
  gap: 5px
}

.digit {
  position: relative;
  width: 30px;
  height: 55px;
}

#digit1 .segment, #digit2 .segment {
  background-color: var(--led-team-a-color, #FF0000);
}

#digit3 .segment, #digit4 .segment {
  background-color: var(--led-team-b-color, #0000FF);
}

.segment {
  position: absolute;
  background-color: #444;
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;
}

.segment.horizontal {
  width: 20px;
  height: 5px;
}

.segment.vertical {
  width: 5px;
  height: 20px;
}

.segment.on {
  opacity: 1;
}

.segment.a { top: 0; left: 50%; transform: translateX(-50%);}
.segment.b { top: 5px; right: 0}
.segment.c { bottom: 5px; right: 0}
.segment.d { bottom: 0; left: 50%; transform: translateX(-50%);}
.segment.e { bottom: 5px; left: 0}
.segment.f { top: 5px; left: 0}
.segment.g { top: 50%; left: 50%; transform: translate(-50%, -50%);}

.led-color-indicator {
  min-width: 0;
  border: none;
  width: 50px;
  height: 18px;
  background: #ffffff00;
  border-radius: 3px;
  cursor: pointer;
}