


:root {
  --primary: #fcc155;
  --secondary: #C55151;
  --white: #ffffff;
  --text-primary: #000000;
  --text-secondary: #00000066;
  --light-1: #fefbf5;
  --light-2: #fdf2dd;
  --light-3: #fae3b7;
  --secondary-1: rgba(197, 81, 81, 0.2);
  --ui-success: #04b904;
  --ui-success-light: #04b90433;
  --ui-error: #e14c62;
  --ui-error-light: #e14c6233;
}

html, body {
  background-color: #13141A;
}

.top {
  gap: 4px;
}

.top input {
  width: 100%;
}

.top .content {
  background-color: var(--text-primary);
}

.bottom .content {
  background-color: var(--text-primary);
}

.top input,
.bottom input {
  background-color: #ffffffaa;
}

.top input, .bottom input {
  font-size: 17px;
}

.center {
  margin-bottom: -2px;
}

.center input {
  font-size: 30px;
  font-weight: 700;
}

input.score {
  font-weight: 300 !important;
}

input.score.winner {
  font-weight: 600 !important;
}

input.score.loser {
  font-weight: 300 !important;
}

.top, .bottom {
  gap: 6px;
}

.top .content, .bottom .content {
  padding: 4px 5px 4px 5px;
  max-height: 100%;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.center .inner {
  padding: 6px 8px 6px 8px;
  margin-bottom: -2px;
}

.bottom .content {
    gap: 4px;
}

.teams {
  gap: 6px;
}

.teams .team {
  gap: 6px;
}

.teams .team:last-child {
  padding-bottom: 0;
}

.teams .team input {
  width: 100%;
}


.controls .output {
  max-width: 240px;
}

.controls .output .inner {
  margin-top: .6rem;
}

button {
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px 12px 7px 12px;
  transition: .2s ease;
  background-color: var(--primary);
  color: var(--text-primary);
  white-space: nowrap;
}

button.destructive {
  background-color: var(--ui-error);
  color: var(--white);
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

button:active {
  transform: scale(0.95);
}


.button {
  /* font-size: 30px;
  font-weight: 600;
  height: 47px;
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding-bottom: 4px;
  color: var(--white); */
}

.button.add {
  background-color: var(--ui-success-light);
  color: var(--ui-success);
  height: 100%;
}

.button.remove {
  background-color: var(--ui-error-light);
  color: var(--ui-error);
  height: 100%;
}

.button.neutral {
  background-color: #6e6e6e;
}

.button:hover {
  opacity: .8;
}

.button:active {
  opacity: .6;
  transform: scale(.95);
}





* {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading_w_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.heading_w_icon i {
  font-size: 1.25rem;
}

button,
.button {
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 6px 14px 8px 14px;
  transition: .2s ease;
  background-color: var(--primary);
  color: var(--text-primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  color: var(--text-primary);
  height: min-content;
}

button.small,
.button.small {
  font-size: .95rem;
  font-weight: 400;
  padding: 3px 8px 4px 8px;
}

button.positive,
.button.positive {
  background-color: var(--ui-success-light);
  color: var(--ui-success);
}

button.negative,
.button.negative {
  background-color: var(--ui-error-light);  
  color: var(--ui-error); 
}

button.destructive,
.button.destructive {
  background-color: var(--ui-error);
  color: var(--white);
}

button:hover,
.button:hover {
  cursor: pointer;
  opacity: .8;
}

button:active,
.button:active {
  transform: scale(0.95);
}

/* Toggle Switch Styles */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  background-color: #ccc;
  border-radius: 24px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.toggle-switch.active {
  background-color: var(--primary);
}

.toggle-switch::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle-switch.active::after {
  transform: translateX(14px);
}

.toggle-switch:hover::after {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.toggle-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px;
}

.wrapper > .inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  max-width: 1000px;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
  flex-wrap: wrap;
  row-gap: 16px;
}

header h1 {
  color: var(--white);
}

header .header_right {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

header .header_right .container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: var(--white);
  padding: 4px 4px 4px 8px;
  border-radius: 6px;
}

header .header_right .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-bottom: 1px;
}

header .header_right .user #username {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1px;
  /* text-transform: uppercase; */
}

.row_section {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.container {
  background-color: var(--white);
  padding: 14px 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  min-width: 0;
}

.container .header_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container > .inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
} 

.input_group {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.input_group .input_group {
  gap: 8px;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
}

.input_container.horizontal {
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.input_container.label_inside {
  flex-direction: row;
  align-items: center;
  gap: 0px;
  padding: 0px 0px 0px 8px;
  border-radius: 4px;
  color: var(--text-secondary);
  background-color: #00000011;
}

.input_container.label_inside label {
  padding-bottom: 3px;
  min-width: fit-content;
}

.input_container.label_inside input {
  background-color: transparent !important;
  padding-left: 4px;
}

.input_container.label_inside:has(input:focus) {
  box-shadow: inset 0px 0px 0px 2px var(--primary);
}

.input_container.label_inside input:focus {
  outline: none;
  -moz-outline: none;
  box-shadow: none;
}

label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

input:not([type='color']), textarea {
  min-width: 0;
  background-color: #00000011;
  border-radius: 4px;
  padding: 9px 12px 11px 12px;
  border: none;
  font-size: 1.075rem;
  font-weight: 400;
  color: var(--text-primary);
}

input[type="number"] {
  padding-right: 0 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  position: relative;
  left: 2px;
}

input.small {
  font-size: 1rem;
  padding: 2px 8px 4px 8px;
  border-radius: 3px;
}

input:focus, textarea:focus {
  outline: none;
  -moz-outline: none;
  box-shadow: inset 0px 0px 0px 2px var(--primary);
}

select {
  min-width: 0;
  background-color: #00000011;
  border-radius: 4px;
  padding: 4px 4px 6px 4px;
  border: none;
  font-size: 1.075rem;
  font-weight: 400;
  color: var(--text-primary);
}

select.small {
  font-size: 1rem;
  padding: 1px 4px 3px 4px;
}

.row_section.top {
  flex-wrap: wrap-reverse;
}

#Max_Sets {
  max-width: 82px; 
}

.game_details {
  flex-basis: 340px;
}

.data_import {
  background-color: var(--light-2);
  flex-basis: 196px;
  /* max-width: 230px; */
}

.data_import .input_container {
  flex-grow: 1;
}

.data_import .input_container textarea {
  flex-grow: 1;
  background-color: var(--white);
}

.data_import:has(textarea:placeholder-shown ) button#import_data {
  opacity: 1;
  /* cursor: default; */
}

.scores .set_counter_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.scores .set_counter_container input {
  width: 45px;
  box-shadow: inset 0px 0px 0px 2px var(--primary);
  text-align: center;
  padding-left: 12px;
}

.scores .set_controls_container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 92px;
}

.scores .set_controls_container button {
  flex-grow: 1;
}

.scores .scores_container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.scores .scores_container .teams {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.teams .team {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  overflow: hidden;
  border-radius: 4px;
}

.teams .team .color-indicator {
  min-width: 16px;
  border: none;
  width: 20px;
  height: 130%;
  margin-top: 0;
  background: #00000013;
}

.team .details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.team .details .teamname {
  font-family: 'Antonio', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  /* text-transform: uppercase; */
  padding: 2px 8px 5px 8px;
}

.team .details .names {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.team .details .names .player {
  display: flex;
  flex-direction: row;
  gap: 2px;
  text-overflow: ellipsis;
}

.scores .points {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.points .set_group {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.points .set,
.points .group_score {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 8px;
  height: 100%;
}

.counter {
  font-family: 'Antonio', sans-serif;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  padding: 0px 0px 5px 8px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  width: 45px;
  height: 100%;
}

.group_score .counter {
  background-color: var(--secondary-1);
}

.active .counter {
  box-shadow: inset 0px 0px 0px 2px var(--primary);
}

.points .controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.points .controls .team_container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 92px;
  flex-grow: 1;
}

.points .controls .team_container button {
  font-size: 1.25rem;
  padding: 2px 10.5px;
  flex-grow: 1;
}

.starting_players_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.starting_team_container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.scores .bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
}

.scores .bottom .starting_team_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.starting_team_container .starting_team_sets {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.starting_team_container .starting_team_sets .starting_team_selector {
  width: 45px;
}

.starting_team_container .starting_team_sets .starting_team_selector select {
  width: 100%;
}

.starting_team_container .starting_team_sets .starting_team_selector.active select {
  box-shadow: inset 0px 0px 0px 2px var(--primary);
}

#reset_scores {
  height: auto;
}

.setting_entry.boolean {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.setting_entry span {
  margin-bottom: 2px;
}

.controls .output .setting_entry {
  flex-grow: 1;
}

.output .output_entry {
  max-width: 300px;
}

.output .url_output_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  max-width: min-content;
}

.output .url_output_container a {
  width: 100%;
  text-wrap: nowrap !important;
  overflow-x: hidden !important;
  text-overflow: ellipsis !important;
  background-color: #eeeeee;
  padding: 4px 8px 6px 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.075rem;
  color: #000000aa;
}

@media only screen and (max-width: 900px) and (pointer: coarse) {
  .scores .set_counter_container input {
    padding: 1px 2px 4px 2px;
  }

  .counter {
    padding: 0px 0px 5px 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin: 8px;
  }

  .input_group {
    gap: 16px;
  }

  .scores .scores_container,
  .scores .bottom .starting_team_container {
    gap: 4px;
  }

  .points .controls .team_container button {
    padding: 0px;
  }

  .starting_team_container .starting_team_sets .starting_team_selector select {
    padding: 1px 0px 3px 0px;
  }
}


@media only screen and (max-width: 600px) and (pointer: coarse) {
  button.small,
  .button.small {
    font-size: 0.8rem;
    padding: 3px 5px 5px 6px;
  }

  .counter,
  .scores .set_counter_container input,
  .starting_team_container .starting_team_sets .starting_team_selector {
    width: 30px;
  }

  .scores .set_controls_container,
  .points .controls .team_container {
    width: 76px;
  }
}