html, body {
  background-color: #464646;
}

.wrapper {
  justify-content: flex-start;
}

.board {
  justify-content: flex-start;
  align-items: flex-start;
}

.board {
  filter: drop-shadow(1px 3px 12px rgba(0, 0, 0, 0.50));
}

.top {
  width: 340px;
  height: auto;
  background-color: var(--black);
}

.top .content {
  width: 100%;
  display: flex;
  padding: 4px;
  gap: 12px;
}

.top .content .text {
  flex-grow: 1;
}

input:focus {
  outline: 1px solid var(--yellow);
  -moz-outline: 1px solid var(--yellow);
}

input:not([type='color']) {
  min-width: 0;
  background-color: #ffffff2b;
  padding: 0px 0px 3px 8px;
  border: none;
}

input[type='number'] {
  height: 100%;
}

select {
  background-color: #ffffff2b;
}

select option {
  color: var(--black);
}

.top input, .bottom input {
  font-size: 17px;
}

.center {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.center .scores {
  display: flex;
  flex-direction: row;
}

.center .scores .team_score {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.center .scores .team_score .set {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
}

.set.active .counter {
  border: 1px solid var(--yellow);
}

.center input {
  font-size: 30px;
  font-weight: 700;
  width: 55px;
}

.center .counter {
  padding-bottom: 0px;
  padding: 1px;
  height: 100%;
  background-color: var(--black);
  padding: 4px;
}

.teams {
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.teams .team {
  flex-direction: column;
  padding: 6px; 
  background-color: var(--black);
  border: 1px solid var(--yellow);
  gap: 6px;
}

.team .teamname {
  margin-top: 0;
  font-size: 26px;
}

.team .players {
  font-size: 16px;
  font-weight: 300;
}

.teams .team input {
  width: 100%;
}

.bottom {
  width: 340px;
  border: none;
  height: auto;
  background-color: var(--black);
  padding: 4px;
}

.bottom .content {
  width: 100%;
  gap: 4px;
  margin-top: 0;
}

.bottom .content > * {
  flex-grow: 1;
}

.settings-container {
  width: 175px;
  margin-left: 15px;
  margin-top: 15px;
  padding: 14px 16px 16px 16px;
  background-color: var(--black);
}

.settings-container h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.settings *:not(:last-child) {
  margin-bottom: 4px;
}

.settings * {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.settings * span {
  margin-top: 2px;
}

.settings #reset_scores {
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 5px 12px 7px 12px;
  transition: .2s ease;
  background-color: #C55151;
  color: var(--white);
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

button:active {
  transform: scale(0.95);
}

.button {
  font-size: 30px;
  font-weight: 600;
  height: 80px;
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  padding-bottom: 4px;
  color: var(--white);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  margin-left: -5px;
}

.controls .team_container {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.button.add {
  background-color: #04b904;
}

.button.remove {
  background-color: #C55151;
  transition: .1s ease;
}

.button:hover {
  opacity: .8;
}

.button:active {
  opacity: .6;
  transform: scale(.95);
}